ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
ul li {
  margin: 10px;
  padding: 10px;
}
ul li a {
  text-decoration: none;
}
ul li a:hover {
  color: yellow;
}
li {
  display: inline;
}
button {
  padding: 5px 8px;
  border: 1px solid blue;
  margin-right: 10px;
  cursor: pointer;
}
button:focus {
  border: 1px solid red;
  background-color: green;
}
.active {
  font-weight: bold;
  color: #3F3F3F;
}

p.counter {
  padding: 4px 30px;
  display: table;
  font-size: 16px;
  color: red;
  background-color: #f0f0f0;
  border: 1px dotted gray;
}